html{
  background-color:rgb(7, 8, 11);
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.5;
}
img {
  width: 100%;
  height: auto;
}
.section {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
#nav {
  background-color:rgb(7, 8, 11);
  color: white;
}
#about{
  height: 100vh;
}
#about-wrapper{
  background-color: rgb(255, 255, 255);
}
#tech-wrapper{
  background-color: rgb(43, 226, 134);
}
#project-1-wrapper{
  background-color: rgb(226, 43, 128);
}
#project-2-wrapper{
  background-color: rgb(226, 208, 43);
}
#project-3-wrapper{
  background-color: rgb(43, 70, 226);
}
#project-4-wrapper{
  background-color: rgb(226, 86, 43);
}
#footer-wrapper{
  background-color:rgb(7, 8, 11);
  color: white;
}