html{
      max-width: 100%;
      overflow-x: hidden;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 2;
  max-width: 100%;
  overflow-x: hidden;
}
p{
  font-size: 1.15rem;
}
img {
  width: 100%;
  height: auto;
}
.section {
  margin: 0 auto;
  width: 100%;
  height: auto;
}
#nav {
  background-color:rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
#nav-logo{
  display: inline-block;
}
a{
  text-decoration: none;
}
.nav-link{
  float: right;
  color: black;
}

#header-content{
  top: 2%;
  position:absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
#index-wrapper{
  background-color: rgb(255, 255, 255);
}
.icon{
  width: 70px;
}
#header-bg{
  padding-top: 4em;
}
#about-wrapper{
  background-color: rgb(255, 255, 255);
}
#tech-content {
  top: 169vh;
  position :absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.project{
  color: black;
}
.hover:hover{
  opacity: .65;
}
#contact-wrapper{
  background-color:rgb(11, 14, 18);
  color: white;
}
.footer-icon{
  width: 50px;
}
#github-white{
  opacity: .9;
}
#github-white:hover{
  opacity: .65;
}



/* Desktop */
.video-bg {
  height: 100vh;
}
/* Mobile*/
@media only screen and (max-width: 411px) {
  .video-bg {
    height: 90vh;
  }
  #tech-content {
    top: 177vh;
  }
}
/* Iphone 5*/
@media only screen and (max-width: 320px) {
  .video-bg {
    height: 90vh;
  }
  #tech-content {
    top: 195vh;
  }
}
/* Tablet */
@media only screen and (max-width: 768px) {
  .video-bg {
    height: 90vh;
  }
  #tech-content {
    top: 155vh;
  }
}

